name: CI
on:
  push:
  workflow_dispatch:
jobs:
  container-job:
    strategy:
      matrix:
        os: ["debian:12", "debian:11", "debian:10", "ubuntu:22.04", "ubuntu:20.04"]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install prereqs
        run: |
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get install -y tzdata
          dpkg-reconfigure -f noninteractive tzdata
      - name: Install dependencies
        run: |
          scripts/install-deps.sh --install-aduc-deps --install-do --install-cmake --install-shellcheck
      - name: Build tests
        run: scripts/build.sh --clean --build-unit-tests
      - name: Run tests
        run: |
          cd out
          ctest
